<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            {% for link in menu %}
                {% set active = '' %}
                {% set angle = 'left' %}
                {% set tree = '' %}
                {% if link.name == page.title %}
                    {% set active = 'active' %}
                    {% set angle = 'down' %}
                {% elseif link.name == 'Misc' and page.title == 'Statusengine miscellaneous information' %}
                    {% set active = 'active' %}
                    {% set angle = 'down' %}
                {% endif %}
                {% if link.anchors|length > 0 %}
                    {% set tree = 'treeview' %}
                {% endif %}
                <li class="{{ tree }} {{ active }}">
                    <a href="{{ link.url }}">
                        <i class="{{ link.icon }}"></i> <span>{{ link.name }}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-{{ angle }} pull-right"></i>
                        </span>
                    </a>

                    {% if link.anchors|length > 0 %}
                        <ul class="treeview-menu">
                            {% for anchor in link.anchors %}
                                {% set blue = '' %}
                                {% if anchor == 'Installation' %}
                                    {% set blue = 'text-aqua' %}
                                {% endif %}
                                <li><a href="{{ link.url }}#{{ anchor|replace({' ': '-'})|lower }}" class="{{ blue }}"><i class="fa fa-circle-o"></i> {{ anchor }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            
            <li class="header">Supported by</li>
            <li class="text-center">
                <a href="https://www.jetbrains.com/?from=statusengine">
                    <img src="/assets/img/jetbrains.png" class="jetbrains-logo">
                </a>
            </li>
        </ul>
    </section>
</aside>
