---
layout: "page"
title: "Broker Module"
list_mode: false
---

<div ng-controller="BrokerController">
<section id="overview" class="doc-section">
  <h2 class="page-header"><a href="#overview" class="anchor">Overview</a></h2>
  <p>
      The Statusengine Broker Module is a small C++ dynamic library (so) that gets loaded into
      your Naemon or Nagios Core.
      <br /><br />
      It will grab all status information, encode them as JSON,
      and put them into RabbitMQ Queues or the Gearman Job Server. Furthermore it can read commands
      and check results from the Queues, so you can easily exchange status information between nodes,
      for example if you want to create a satellite setup or as an alternative to run external commands.
      <br />
      Due to the queuing engine (RabbitMQ/Gearman) your Monitoring Core will not get blocked by an slow
      database or disk io issues.
      <br />
      <b>It is highly recommended to run the Gearman Job Server on the same node as the monitoring core</b>
  </p>
</section>

<section id="scale-out-to-multiple-nodes" class="doc-section">
  <h2 class="page-header"><a href="#scale-out-to-multiple-nodes" class="anchor">Scale out to Multiple Nodes (if required)</a></h2>
  <p>
      I would recommend you, to split your monitoring node if you reach 50.000 services.
      This highly depends on your hardware and check interval but just as a rough idea.
      <br />
      Depending of your monitoring configuration this can be a challenging task.
      <br />
      For large environments I would recommand to use a config generator or something similar.
      <br />
      Once you have done splitting your configuration, you can deploy a new node with Naemon or Nagios
      , RabbitMQ (or Gearman) as Queue and load the Statusengine Broker Module.
      <br />
      The Statusengine UI comes with support for multiple nodes, so you will see all monitored devices in one interface.
  </p>
</section>

<section id="supported-monitoring-tools" class="doc-section">
  <h2 class="page-header"><a href="#supported-monitoring-tools" class="anchor">Supported Monitoring Tools</a></h2>
  <p>
      <b>Naemon:</b>
      <ul>
          <li>Naemon >= 1.0.8</li>
      </ul>

      <b>Nagios:</b>
      <ul>
          <li>Nagios >= 4.3.2</li>
      </ul>
      <b>Usually the latest broker version only supports the latest Naemon/Nagios version.</b>
      <br/>
      Did not have a running installation yet?
      Check the tutorials for
      <a href="{{ site.url }}/tutorials/install-naemon-bionic">Naemon</a>
      or
      <a href="{{ site.url }}/tutorials/install-nagios4">Nagios</a>
  </p>
</section>

<section id="installation" class="doc-section">
  <h2 class="page-header"><a href="#installation" class="anchor">Installation</a></h2>
  
  <p>
      Please select your operating system and monitoring core first. If your operating system is not in the list, pick the operating system version that matches your operating system best. You can still install Statusengine on your system, even if it is not in the list.
      <div class="form-group">
          <label>Operating system</label>
          <select class="form-control" ng-model="selectedOs">
              <option value="trusty">Ubuntu 14.04 (Trusty Tahr)</option>
              <option value="xenial">Ubuntu 16.04 (Xenial Xerus)</option>
              <option value="bionic">Ubuntu 18.04 (Bionic Beaver)</option>
              <option value="centos7">CentOS 7.5</option>
          </select>
      </div>
      <div class="form-group">
            <label>Queue Backend</label>
            <select class="form-control" ng-model="selectedQueue">
                <option value="rabbitmq">RabbitMQ</option>
                <option value="gearman">Gearman</option>
            </select>
      </div>
  </p>
  
  <p>
      <ol>
          <li ng-if="selectedOs == 'centos7'">
              <b>Load EPEL Repository and install CentOS dependencies</b>
              <pre>yum install epel-release
yum check-update</pre>
          </li>
          <li>
              <b>Install dependencies</b>
              <pre>{[{commands[selectedOs].dependencies}]} {[{commands[selectedOs].queueDep[selectedQueue]}]}</pre>
          </li>
          <li ng-if="selectedOs == 'centos7'">
              <b>Start Gearman-Job-Server on system boot</b>
              <pre>systemctl enable gearmand
systemctl start gearmand</pre>
          </li>
          <li>
              <b>Download and Install Statusengine Broker Module</b>
              <p>
                  You can find the latest release on GitHub:
                  <a href="https://github.com/statusengine/broker/releases" target="_blank">
                      https://github.com/statusengine/broker/releases
                  </a>
              </p>
              <p>
                  Please download the release from GitHub for your distribution or build it with the instructions in the README.
                  Extract the file libstatusengine.so to <code>/opt/statusengine/lib/libstatusengine.so</code> or somewhere else where Naemon/Nagios can read it.
              </p>
          </li>
      </ol>
  </p>
  
</section>


<section id="broker-configuration" class="doc-section">
  <h2 class="page-header"><a href="#broker-configuration" class="anchor">Broker Configuration</a></h2>
  <p>
      <p><b>Create statusengine.toml configuration file</b></p>
      <p>You can find an example configuration with comments working with the Statusengine worker here: <a href="https://github.com/statusengine/broker/blob/master/statusengine.toml">https://github.com/statusengine/broker/blob/master/statusengine.toml</a></p>
      <p>You should copy the file to <code>/opt/statusengine/etc/statusengine.toml</code> or somewhere else where Naemon/Nagios can read it.</p>
  </p>
  <p>
      <p><b>Download example statusengine.toml</b></p>
<pre ><code class="bash hljs">mkdir -p /opt/statusengine/etc
curl https://raw.githubusercontent.com/statusengine/broker/master/statusengine.toml > /opt/statusengine/etc/statusengine.toml
</code></pre>
  </p>
  <p>
      <p><b>Configure Naemon/Nagios to load the broker</b></p>
      To activate the broker you have to add a configuration line to your <code>naemon.cfg</code> or <code>nagios.cfg</code>:
      <pre><code class="ini">broker_module=/opt/statusengine/lib/libstatusengine.so /opt/statusengine/etc/statusengine.toml</code></pre>
  </p>
  <p>
      <p><b>Restart Naemon/Nagios</b></p>
      <pre><code>systemctl restart naemon</code></pre>
  </p>
</section>

<section id="command-ocsp-and-ochp" class="doc-section">
  <h2 class="page-header"><a href="#command-ocsp-and-ochp" class="anchor">Command, OCSP and OCHP</a></h2>
  <p>
      The default OCSP and OCHP allows you to run a command or script after a service or host check was executed.
      <br />
      <b>This will highly affect the performance of your monitoring core!</b>
      <br />
      To avoid this issue, Statusengine's "OCSP"/"OCHP" will create you a special Gearman Queue
      and store a copy of every host check and service check event.
      <br />
      You can consume the events inside of the queue with a little script to get the data you need.
  </p>

  <p>
  <b>Data Example:</b>
  <br />
  This example show all fields, you can receive via the Statusengine OCHP and OCSP queues.
<pre ><code class="json hljs">
{
"servicecheck": {
  "return_code": 0,
  "latency": 0,
  "execution_time": 0.016237,
  "check_type": 0,
  "perf_data": "load1=0.020;4.000;7.000;0; load5=0.030;6.000;8.000;0; load15=0.000;6.000;8.000;0;",
  "long_output": null,
  "output": "OK - load average: 0.02, 0.03, 0.00",
  "command_name": "check_by_nrpe!check_load",
  "command_line": "$USER1$/check_nrpe -H $HOSTADDRESS$ -c $ARG1$",
  "service_description": "CPU Load",
  "host_name": "CrateDB1-Naemon",
  "current_attempt": 1,
  "max_attempts": 3,
  "state_type": 1,
  "state": 0,
  "timeout": 60,
  "start_time": 1500727171,
  "end_time": 1500727171,
  "early_timeout": 0
},
"timestamp": 1500727171,
"attr": 0,
"flags": 0,
"type": 701
}
</code></pre>
  </p>

  <p>
      <b>PHP Example Script:</b>
      <br />
      The given PHP example script will fetch all jobs out of the queue
      and print the data to the shell.
      <br />
      Press STRG+C (^C) to exit.
<pre ><code class="php hljs">
&lt;?php
$StatusengineOcsp = new StatusengineOcspProcessor();
$StatusengineOcsp->loop();

//Example Class
class StatusengineOcspProcessor{

    /**
     * @var \GearmanWorker
     */
    private $GearmanWorker;

    public function __construct(){
        //Create the GearmanWorker PHP Object
        $this->GearmanWorker = new \GearmanWorker();

        //Connect to the Gearman-Job-Server
        $this->GearmanWorker->addServer('127.0.0.1', 4730);

        //Consume data from the queue statusngin_ocsp and pass it
        //to the php method handleOcsp of the this class
        $this->GearmanWorker->addFunction('statusngin_ocsp', [$this, 'handleOcsp']);
    }

    public function loop(){
        //Start infinite loop to consume incoming jobs
        while(true){
            $this->GearmanWorker->work();
        }
    }

    public function handleOcsp($job){
        //Print service check data to stdout
        print_r(json_decode($job->workload()));
    }

}
</code></pre>
  </p>

  <p>
  <b>Bash Example Script:</b>
<pre>
apt-get install jq
</pre>

    This example will print one job to the shell and exit
<pre ><code class="bash hljs">#!/bin/bash
gearman -w -c 1 -f statusngin_ocsp | jq .
</code></pre>
    </p>

    <p>
        <br />
        More languages are available in
        <a href="http://gearman.org/download/#client--worker-apis" target="_blank">
            the official Gearman documentation
        </a>
        .
    </p>

</section>

<section id="how-to-update" class="doc-section">
  <h2 class="page-header"><a href="#how-to-update" class="anchor">How to update</a></h2>
  <p>
      If you want to update to a new version of the Statusengine event broker, create a backup of your currently
      installed version first.
      <br /><br />
      Stop your monitoring engine like: <code>systemctl stop naemon</code>.
      <br /><br />
      Than repeat the <a href="#installation">installation steps</a>.
  </p>
</section>

<section id="debug-broker-module" class="doc-section">
  <h2 class="page-header"><a href="#debug-broker-module" class="anchor">Debug Broker Module</a></h2>
  <p>
      To check if the Statusengine Broker Module save all events to the Gearman  Job Server
      you can use the <code>gearadmin --status</code> command.
      <br />
      This will display you all existing queues, waiting jobs, active workers,
      and how much workers are connected to the queue.
      <pre>
#                              Jobs    Active   Worker
root@naemon:~# gearadmin --status
statusngin_contactstatus         2       0       0
statusngin_servicestatus        52       0       0
statusngin_hoststatus           10       0       0
statusngin_servicechecks         3       0       0
statusngin_ocsp                  3       0       0
statusngin_statechanges          0       0       0
statusngin_hostchecks            1       0       0
statusngin_logentries            4       0       0
</pre>
    In this example broker module put data into the queue but no process is consuming
    the provided data (0 connected workers).
    <br />
    So the broker modules works fine.
    <div class="callout callout-info">
        <h4>Statusengine Worker</h4>
        <p>
            <a href="{{ site.url }}/worker">Let's continue setting up Statusengine Worker</a>.
        </p>
    </div>
  </p>
  <p>
      In addition, you can also run your monitoring core in foreground
      to debug issues or get more information about what's going on.
      <pre>root@naemon:~# sudo -u naemon /bin/bash
naemon@naemon:~$ /opt/naemon/bin/naemon /opt/naemon/etc/naemon/naemon.cfg

Naemon Core 1.0.6-source
Copyright (c) 2013-present Naemon Core Development Team and Community Contributors
Copyright (c) 2009-2013 Nagios Core Development Team and Community Contributors
Copyright (c) 1999-2009 Ethan Galstad
License: GPL

Website: http://www.naemon.org
Naemon 1.0.6-source starting... (PID=22687)
Local time is Tue May 16 19:57:07 CEST 2017
qh: Socket '/opt/naemon/var/naemon.qh' successfully initialized
nerd: Channel hostchecks registered successfully
nerd: Channel servicechecks registered successfully
nerd: Fully initialized and ready to rock!
wproc: Successfully registered manager as @wproc with query handler
wproc: Registry request: name=Core Worker 22689;pid=22689
wproc: Registry request: name=Core Worker 22690;pid=22690

Event broker module '/opt/statusengine/module/statusengine-naemon-1-0-5.o' initialized successfully.

Successfully launched command file worker with pid 22705
      </pre>
  </p>
</section>

</div>
